<form  [formGroup]="service.form" class="normal-form">
  <mat-grid-list cols="2" rowHight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="fullName" matInput placeholder="Full Name"> 
        </mat-form-field>
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email"> 
        </mat-form-field>
        <mat-form-field>
          <input formControlName="mobile" matInput placeholder="Mobile"> 
        </mat-form-field>
        <mat-form-field>
          <input formControlName="city" matInput placeholder="City"> 
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      
    </mat-grid-tile>
  </mat-grid-list>
</form>